# Copy this file to .env for local testing or production server.
# Never commit the real .env file.

APP_IMAGE=your-dockerhub-username/final-tier2-app:local
APP_VERSION=local-dev

POSTGRES_DB=finaldb
POSTGRES_USER=finaluser
POSTGRES_PASSWORD=change_this_database_password

GRAFANA_USER=admin
GRAFANA_PASSWORD=change_this_grafana_password

# Replace for production
DOMAIN=example.com
